<div class="container">

  <script type="text/ng-template" id="enterMessage.html">
    <div class="modal-header">
      <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <textarea class="form-control" rows="3" ng-model="message" id="queueEnterMessageTextArea"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()" id="queue{{buttonText}}Btn">{{buttonText}}</button>
    </div>
  </script>

  <script type="text/ng-template" id="receiveMessage.html">
    <div class="modal-header">
      <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <p>{{message}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <i class="text-light-gray">- {{sender}}</>
    </div>
  </script>

  <script type="text/ng-template" id="purgeQueue.html">
    <div class="modal-header">
      <h4>Purge queue</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <p>Are you sure you want to remove everyone in the queue?</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="doNotPurge()" id="queueDoNotPurgeBtn">No, leave them alone.</button>
      <button class="btn btn-danger" ng-click="purge()" id="queueDoPurgeBtn">Yes, kick them all out.</button>
    </div>
  </script>

  <script type="text/ng-template" id="readMessages.html">
    <div class="modal-header">
      <h4>Messages</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <ul>
          <li ng-repeat="message in messages">
            {{message}}
          </li>
        </ul>
      </div>
    </div>
  </script>

  <div class="row">
    <div class="col-md-offset-1 col-md-3">
      <h2 class="text-red" ng-show="locked"><span class="glyphicon glyphicon-lock"></span>{{queue}}</h2>
      <h2 ng-show="!locked">{{queue}}</h2>
    </div>
  </div>




  <div class="row">
    <!-- Queues -->
    <div class="col-md-9 col-md-push-3">
      <!-- Users with bookings -->
      <input class="spoilerbutton" type="button" value="Show booked users" onclick="this.value=this.value=='Show booked users' ? 'Hide booked users' : 'Show booked users';" class="spoilerbutton" ng-hide="bookedUsers.length == 0"  id="queueShowBookedUsersBtn">
      <div class="col-md-12 spoiler" ng-hide="bookedUsers.length == 0">
        <table class="table table-striped booked">
          <thead>
            <th>User</th>
            <th>Location</th>
            <th>Comment</th>
            <th>Time</th>
          </thead>
          <tbody>
            <tr ng-repeat="user in bookedUsers">
              <td>{{user.name}}</td>
              <td>{{user.place}}</td>
              <td>{{user.comment}}</td>
              <td>{{user.time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Users without bookings -->
      <div ng-hide="users.length"><h4>This queue is empty</h4></div>
      <table class="col-md-12 table table-striped" ng-show="users.length">
        <thead>
          <tr>
            <th class="hidden-xs">#</th>
            <th>User</th>
            <th>Location</th>
            <th>Comment</th>
            <th class="hidden-xs">Time</th>
            <th ng-show="admin">Admin options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users track by $index" ng-class="user.gettingHelp ? 'pulse' : ''" ng-dblclick="changeVisibility(user.name)"  id="queue{{user.name}}Btn">
            <td class="hidden-xs">{{ $index + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.place }}</td>
            <td>{{ user.comment }}</td>
            <td class="hidden-xs"><span data-livestamp="{{user.startTime}}"></span></td>
            <td ng-show="admin">
              <div ng-show="user.optionsActivated">
                <span title="remove user">
                  <button class="btn red clickable" ng-click="removeUser(user.name)" id="queueRemoveUser{{user.name}}Btn">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </span>
                <span title="send message">
                  <button class="btn btn-success" ng-click="messageUser(user.name)" id="queueSendMessage{{user.name}}Btn">
                    <span class="glyphicon glyphicon-envelope"></span>
                  </button>
                </span>
                <span title="help">
                  <button class="btn btn-success" ng-click="helpUser(user.name)" id="queueHelp{{user.name}}Btn">
                    <span class="glyphicon glyphicon-check"></span>
                  </button>
                </span>
                <span title="bad location">
                  <button class="btn btn-success" ng-click="badLocation(user.name)" id="queueBadLocation{{user.name}}Btn">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </span>
                <span title="add comment">
                  <button class="btn btn-success" ng-click="flag(user.name)" id="queueAddComment{{user.name}}Btn">
                    <span class="glyphicon glyphicon-tag"></span>
                  </button>
                </span>
                <span ng-show="user.messages.length > 0" title="read comment">
                  <button class="btn btn-success" ng-click="readMessages(user.name)" id="queueReadComment{{user.name}}Btn">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
              <p ng-hide="user.optionsActivated">(Double-click for options)</p>
              <p ng-show="user.gettingHelp && admin">&nbsp;Currently helped by + {{user.helper}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Buttons and inputs -->
    <div class="col-md-3 col-md-pull-9">
      <!-- Logged in -->
      <div ng-show="loggedIn">
        <h5>Location</h5>
        <div style="background-color: #F04124; padding-bottom: 2%; margin-bottom: 7%;">
          <input type="text" ng-model="location" placeholder="Red 01" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Red 01'" class="col-xs-12" style="height: 3em; margin-bottom: 2%;" id="queueLocationInputField">
          <i class="text-white" ng-hide="location">&nbsp;&nbsp;Required</i>
        </div>
        <h5>Comment</h5>
        <input type="text" ng-model="comment" placeholder="Laboration 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Laboration 1'" class="col-xs-12" style="height: 3em; margin-bottom: 7%;" id="queueCommentInputField">
        <button class="green clickable frame center-content expand" ng-show="!enqueued && location" ng-click="addUser()" id="queueJoinQueueBtn">
          <span class="glyphicon glyphicon-plus"></span>
          Join queue
        </button>
        <button class="green clickable frame center-content expand" ng-show="!enqueued && !location" popover="In order to queue, you must enter your location"  popover-trigger="focus" popover-placement="bottom" id="queuePromptLocationJoinBtn">
          <span class="glyphicon glyphicon-plus"></span>
          Join queue
        </button>
        <button class="red clickable center-content frame expand" ng-show="enqueued" ng-click="removeUser(name)" id="queueLeaveQueueBtn">
          <span class="glyphicon glyphicon-remove"></span>&nbsp;
          Leave queue
        </button>
        <button class="green clickable center-content frame expand" ng-show="enqueued && location" ng-click="updateUser()" id="queueUpdateInformationBtn">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;
          Update information
        </button>
        <button class="green clickable frame center-content expand" ng-show="enqueued && !location" popover="You must enter your location again"  popover-trigger="focus" popover-placement="bottom" id="queuePromptLocationUpdateBtn">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;
          Update information
        </button>
        <div class="buffer" ng-show="admin"></div>
        <!-- Admin-options -->
        <div class="btn-group col-xs-12" dropdown is-open="status.isopen" ng-show="admin" style="padding-left: 0; padding-right: 0;">
          <button type="button" class="btn btn-default dropdown-toggle col-xs-12" id="queueOptionsBtn" dropdown-toggle>
            <div class="col-xs-6 text-left">
              Options
            </div>
            <div class="col-xs-6 text-right">
              <span class="caret text-right"></span>
            </div>
          </button>
          <ul class="dropdown-menu col-xs-12" role="menu" style="padding: 5%;">
            <li>
              <button class="blue clickable center-content frame expand" ng-show="admin" ng-click="broadcast()" id="queueBroadcastBtn">
                <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
                Broadcast
              </button>
            </li>
            <li>
              <button class="blue clickable center-content frame expand" ng-show="admin" ng-click="broadcastTA()" id="queueBroadcastToTasBtn">
                <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
                Broadcast to TAs
              </button>
            </li>
            <li>
              <button class="red clickable center-content frame expand" ng-show="admin" ng-click="purge()" id="queuePurgeQueueBtn">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;
                Purge queue
              </button>
            </li>
            <li>
              <button class="red clickable center-content frame expand" ng-show="admin && !locked" ng-click="lock()" id="queueLockQueueBtn">
                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                Lock queue
              </button>
            </li>
            <li>
              <button class="green clickable center-content frame expand" ng-show="admin && locked" ng-click="unlock()" id="queueUnlockQueueBtn">
                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                Unlock queue
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!-- Not logged in -->
      <div ng-show="!loggedIn">
        <h3>You are currently not logged in</h3>
        <button class="blue clickable center-content expand text-white" style="border: 0;" ng-click="redirect('login')" id="queueNotLoggedInLogInBtn">
          Log in
        </button>
      </div>
    </div>
  </div>
</div>