<div class="container">
	<div class="row">
		<h1>About Stay A While</h1>

		<p>Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as. Add stairs admire all answer the nearer yet length. Advantages prosperous remarkably my inhabiting so reasonably be if. Too any appearance announcing impossible one. Out mrs means heart ham tears shall power every.</p>

		<p>Now for manners use has company believe parlors. Least nor party who wrote while did. Excuse formed as is agreed admire so on result parish. Put use set uncommonly announcing and travelling. Allowance sweetness direction to as necessary. Principle oh explained excellent do my suspected conveying in. Excellent you did therefore perfectly supposing described.</p>

		<p>Sportsman do offending supported extremity breakfast by listening. Decisively advantages nor expression unpleasing she led met. Estate was tended ten boy nearer seemed. As so seeing latter he should thirty whence. Steepest speaking up attended it as. Made neat an on be gave show snug tore.</p>


		<p>
			<a href="https://gits-14.sys.kth.se/robertwb/queueSystem/">
				<img src="/images/github.svg" height="14" width="14"> StayAWhile@GitHub
			</a>
			v 0.5.13
		</p>

		<h2>Contributors</h2>
		<div class="col-md-4" ng-repeat="contributor in contributors.StayAWhile" style="margin-bottom: 2%;">
			<div class="col-md-4">
				<img class="frame" ng-src="http://gravatar.com/avatar/{{contributor.gravatar || '00000000000000000000000000000000'}}.png" alt="{{contributor.name}}">
			</div>
			<div class="col-md-8">
				<h4>{{contributor.name}}</h4>
				<a ng-if="contributor.twitter" href="https://twitter.com/{{contributor.twitter}}">
					<img src="/images/twitter.svg" height="14" width="14"> {{contributor.twitter}}
				</a>
				<a ng-if="contributor.github" href="https://github.com/{{contributor.github}}">
					<img src="/images/github.svg" height="14" width="14"> {{contributor.github}}
				</a>
				<a ng-if="contributor.facebook" href="https://www.facebook.com/{{contributor.facebook}}">
					<img src="/images/facebook.svg" height="14" width="14"> {{contributor.facebook}}
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>About QWait</h1>
		<p>
			Welcome to QWait [kuːˈwaɪt], the new open source, web based queueing manager developed for KTH CSC. Since the last millennium,
			the mere mention of the queueing manager which must not be named has brought terror into the hearts of even the most
			fearless students, but we say: no more. We have built QWait with a robust backend that will never give up on you,
			and a lightweight web interface which can be used with your desktop, laptop, mobile device or toaster (given that it
			supports HTML). Best of all: it makes queueing simple, just as it should be.
		</p>
		<p>
			<a href="https://github.com/mvk13ogb/qwait">
				<img src="/images/github.svg" height="14" width="14"> QWait@GitHub
			</a>
			v 1.1.18
		</p>

		<h2>Contributors</h2>
		<div class="col-md-4" ng-repeat="contributor in contributors.QWait" style="margin-bottom: 2%;">
			<div class="col-md-4">
				<img class="frame" ng-src="http://gravatar.com/avatar/{{contributor.gravatar || '00000000000000000000000000000000'}}.png" alt="{{contributor.name}}">
			</div>
			<div class="col-md-8">
				<h4>{{contributor.name}}</h4>
				<a ng-if="contributor.twitter" href="https://twitter.com/{{contributor.twitter}}">
					<img src="/images/twitter.svg" height="14" width="14"> {{contributor.twitter}}
				</a>
				<a ng-if="contributor.github" href="https://github.com/{{contributor.github}}">
					<img src="/images/github.svg" height="14" width="14"> {{contributor.github}}
				</a>
			</div>
		</div>
	</div>
</div>