<div ng-show="admin">
	<h1>Administration</h1>
	<p>Please be careful on this page. Here, you have the power to change everything.</p>
	

	<div class="row col-md-4">
		<input type="text" ng-model="newAdmin" class="col-md-9" placeholder="Add admin" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add admin'">
		<div class="blue clickable text-white text-center col-md-3 postfix" ng-click="addAdmin()">
			<span class="glyphicon glyphicon-plus"></span>Add
		</div>
	</div>

	<div class="row col-md-12">
		<select ng-model="dropdown" ng-change="selectQueue(dropdown)">
			<option disabled="disabled" selected="selected" value>Select Queue</option>
			<option ng-repeat="queue in queues">{{queue.name}}</option>
		</select>
	</div>
	<div class="row col-md-4">
		<input type="text" ng-model="newTeacher" class="col-md-9" placeholder="Add teacher" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add teacher'">
		<div class="blue clickable text-white text-center col-md-3 postfix" ng-click="addTeacher()">
			<span class="glyphicon glyphicon-plus"></span>Add
		</div>
	</div>
	<div class="row col-md-4">
		<input type="text" ng-model="newAssistant" class="col-md-9" placeholder="Add assistant" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add assistant'">
		<div class="blue clickable text-white text-center col-md-3 postfix" ng-click="addAssistant()">
			<span class="glyphicon glyphicon-plus"></span>Add
		</div>
	</div>


</div>
