<!--<div ng-show="admin">-->
<div class="container">

  <script type="text/ng-template" id="warning.html">
    <div class="modal-header">
      <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <p>{{message}}</p>
      </div>
    </div>
    <div class="modal-footer">
		<button class="btn btn-success" ng-click="doNotDelete()" id="adminNoChangeBtn">{{safeButtonText}}</button>
		<button class="btn btn-danger" ng-click="delete()" id="adminChangeBtn">{{dangerButtonText}}</button>
    </div>
  </script>

	<h1>Administration</h1>
	<p>Please be careful on this page. Here, you have the power to change everything.</p>
	<h1>Admins of Stay A While&nbsp;<a href="/help">?</a></h1>
	<h5>New admins might have to log out and in again in order to get all of their new privileges.</h5>
	<br>

	<div class="row">
		<div class="col-md-6">
			<!-- Add admins -->
			<div class="input-group col-md-8">
				<input type="text" class="form-control" ng-model="newAdmin" placeholder="Add admin" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add admin'" id="adminAdminInputField">
				<span class="input-group-addon blue clickable text-white" style="border: 0px;" id="adminAddAdminBtn" ng-click="addAdmin()"><span class="glyphicon glyphicon-plus"></span>Add</span>
			</div>
			<!-- Remove admins -->
			<br>
			Admins
			<br>
			<div ng-show="admins.length">
				<table class="table table-striped">
	      			<thead>
	        			<tr>
	          				<th>Name</th>
	          				<th>KTH-id</th>
	        			</tr>
	      			</thead>
	      			<tbody>
	        			<tr id="admin.name" ng-repeat="admin in admins">
	          				<td>{{ admin.name }}</td>
	          				<td>{{ admin.id }} <span class="glyphicon glyphicon-remove text-red clickable" ng-click="removeAdmin(admin.name)" id="adminRemoveAdminBtn"></span></td>
		          		</tr>
		          	</tbody>
				</table>
			</div>
			<div ng-hide="admins.length">
				(No admins)
			</div>
		</div>
		<!-- Adding queues -->
		<div class="col-md-6">
			<div class="input-group col-md-8">
				<input type="text" class="form-control" ng-model="newQueue" placeholder="Add queue" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add queue'" id="adminQueueInputField">
				<span class="input-group-addon blue clickable text-white" style="border: 0px;" id="adminAddQueueBtn" ng-click="addQueue()"><span class="glyphicon glyphicon-plus"></span>Add</span>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
      					<th><h3>Queues</h3></th>
        			</tr>
				</thead>
				<tbody>
					<tr ng-repeat="queue in queues">
      					<th>{{queue.name}}</th>
        			</tr>
				</tbody>
			</table>
		</div>
	</div>

	<br>
	<h1>Edit queue roles</h1>
	<h5>Choose queue to administrate</h5>

	<!-- Dropdown of queues -->
	<div class="row">
		<div class="col-md-12">
			<div class="dropdown">
		        <button class="btn btn-default dropdown-toggle col-xs-3" type="button" data-toggle="dropdown" id="adminSelectQueueDropDown">
		        	<div class="col-md-11 text-left" id="dropdown">Select Queue</div> <span class="caret"></span>
		        </button>
		        <ul class="dropdown-menu">
					<li ng-repeat="queue in queues"><a href="" ng-click="selectQueue(queue.name)" id="admin{{queue.name}}DropDownBtn">{{queue.name}}</a></li>
		        </ul>
			</div>
		</div>
	</div>
	<br>
	<!-- Dropdown ends here -->

	<div class="row" ng-show="selectedQueue !== undefined">
		<div class="col-md-12">
			<button class="btn btn-danger" ng-click="deleteQueue()" id="adminRemoveQueueBtn">Remove queue</button>
			<button class="btn btn-warning" ng-click="hibernateQueue()" ng-show="!selectedQueue.hibernating" id="adminHibernateQueueBtn">Hibernate queue</button>
			<button class="btn btn-success" ng-click="unhibernateQueue()" ng-show="selectedQueue.hibernating" id="adminUnHibernateQueueBtn">Wake up queue</button>
		</div>
	</div>

	<div class="row col-md-12">
		<!-- Adding teachers -->
		<div class="row col-md-6">
			<h3>Teachers at Stay A While&nbsp;<a href="/help">?</a></h3>
			<h5>New teachers might have to log out and in again in order to get all of their new privileges.</h5>
			<div class="input-group col-md-9">
				<input type="text" class="form-control" ng-model="newTeacher" placeholder="Add teacher" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add teacher'" id="adminAddTeacherInputField">
				<span class="input-group-addon blue clickable text-white" style="border: 0px;" ng-click="addTeacher()" id="adminAddTeacherBtn"><span class="glyphicon glyphicon-plus"></span>Add</span>
			</div>
			<div class="buffer"></div>
			<!-- TODO : Table of current teachers goes here -->
			<div class="col-md-10" ng-show="admins.length" style="padding-left: 0px;">
				<table class="table table-striped">
	      			<thead class="dark-grey">
	        			<tr>
	          				<th>Name</th>
	          				<th>KTH-id</th>
		        		</tr>
		      		</thead>
		      		<tbody>
		        		<tr id="admin.name" ng-repeat="admin in admins">
		          			<td>{{ admin.name }}</td>
		          			<td>{{ admin.id }} <span class="glyphicon glyphicon-remove text-red clickable" ng-click="removeTeacher(admin.name)" id="adminRemoveTeacherBtn"></span></td>
		          		</tr>
		          	</tbody>
				</table>
			</div>
			<div ng-hide="admins.length">
				(No teachers)
			</div>
			<!-- End of TODO (Table of current teachers goes here) -->
		</div>
		<!-- Adding teaching assistants -->
		<div class="row col-md-6 left-divider">
			<h3>Assistants at Stay A While&nbsp;<a href="/help">?</a></h3>
			<h5>New assistants might have to log out and in again in order to get all of their new privileges.</h5>
			<div class="input-group col-md-9">
				<input type="text" class="form-control" ng-model="newAssistant" placeholder="Add assistant" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add assistant'" id="adminAddAssistantInputField">
				<span class="input-group-addon blue clickable text-white" style="border: 0px;" ng-click="addAssistant()" id="adminAddAssistantBtn"><span class="glyphicon glyphicon-plus"></span>Add</span>
			</div>
			<div class="buffer"></div>
			<!-- TODO : Table of current assistants goes here -->
			<div class="col-md-10" ng-show="admins.length" style="padding-left: 0px;">
				<table class="table table-striped">
	      			<thead class="dark-grey">
	        			<tr>
	          				<th>Name</th>
	          				<th>KTH-id</th>
		        		</tr>
		      		</thead>
		      		<tbody>
		        		<tr id="admin.name" ng-repeat="admin in admins">
		          			<td>{{ admin.name }}</td>
		          			<td>{{ admin.id }} <span class="glyphicon glyphicon-remove text-red clickable" ng-click="removeAssistant(admin.name)" id="adminRemoveAssistantBtn"></span></td>
		          		</tr>
		          	</tbody>
				</table>
			</div>
			<div ng-hide="admins.length">
				(No admins)
			</div>
			<!-- End of TODO (Table of current assistants goes here) -->
		</div>
	</div>
</div>