<div class="container">

<h3>Users</h3>

<table class="table table-striped">
  <thead><tr>
    <th>#</th>
    <th>User</th>
    <th>Location</th>
    <th>Comment</th>
    <th ng-show="admin">Admin-options</th>
  </tr></thead>
  <tbody><tr id="user.name" ng-repeat="user in users track by $index">
    <td>{{ $index + 1 }}
    </td>
    <td>
      {{ user.name }}
    </td>
    <td>{{ user.place }}</td>
    <td>{{ user.comment }}</td>
    <td>
      <span title="remove user">
        <button class="btn red" ng-click="removeUser(user.name)" ng-show="admin">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;
        </button>
      </span>
      <span title="send message">
        <button class="btn red" style="color:blue" ng-click="removeUser(user.name)" ng-show="admin">
          <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;
        </button>
      </span>
    </td>
  </tr></tbody>
</table>

<hr>

<h3 ng-show="newUser">Create New User:</h3>
<h3 ng-hide="newUser">Edit User:</h3>

<form class="form-horizontal">
<div class="form-group">
  <label class="col-sm-2 control-label">Name:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="name" ng-disabled="!newUser" placeholder="Magnus">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Place:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="place" placeholder="Green">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Comment:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="comment" placeholder="Redovisa Labb 1">
  </div>
</div>
</form>

<hr>
<button class="btn btn-success" ng-show="newUser" ng-click="addUser()">
  <span class="glyphicon glyphicon-save"></span>Create User
</button>
<button class="btn btn-success" ng-show="!newUser" ng-click="updateUser()">
  <span class="glyphicon glyphicon-save"></span>Update User
</button>
<button class="btn btn-success" ng-click="removeUser(name)" ng-show="admin">
  <span class="glyphicon glyphicon-warning-sign"></span> Remove user
</button>
<button class="btn btn-success" ng-click="adminify()"  ng-show="!admin" >
  <span class="glyphicon glyphicon-warning-sign"></span> Make me an admin
</button>
<button class="btn btn-success" ng-click="adminify()"  ng-show="admin" >
  <span class="glyphicon glyphicon-warning-sign"></span> Make me an user
</button>
<button class="btn btn-success" ng-click="bottomUser()"  ng-disabled="edit" >
  <span class="glyphicon glyphicon-warning-sign"></span> Put to bottom of list
</button>
<button class="btn btn-success" ng-click="updateUser()"  ng-disabled="edit" >
  <span class="glyphicon glyphicon-pencil"></span> Edit user
</button>