<!--
byt "users" mot namn på kön | check
skriv ut hur många som står i kön
hårdkoda in test (som att vi t.ex. har 2 bokningar) | check
admin/asse = (en knapp för att markera vem som får hjälp just nu)
ska man ha en kompleteringskö?
ska man kunna lämna in kommentarer som asse?
-->

<div class="container">

<div class="row col-md-2">
  <h2 class="col-md-offset-5">{{course}}</h2>
</div>

<div class="row col-md-12">
  <!-- Menu on the left side -->
  <div class="col-md-2 pin-center black" ng-show="loggedIn">
    <!-- The input -->
    <form class="form-horizontal text-white">
      <div class="form-group">
        <label class="control-label col-md-offset-1">Name:</label>
        <div class="text-black">
          <input class="col-md-10 col-md-offset-1" type="text" ng-model="name" ng-disabled="loggedIn" placeholder="Magnus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Magnus'">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-offset-1">Place:</label>
        <div class="text-black">
          <input class="col-md-10 col-md-offset-1" type="text" ng-model="place" placeholder="Red 01" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Red 01'">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-offset-1">Comment:</label>
        <div class="text-black">
          <input class="col-md-10 col-md-offset-1" type="text" ng-model="comment" placeholder="Laboration 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Laboration 1'">
        </div>
      </div>
    </form>

    <!-- The buttons -->
    <div class="green clickable center-content frame" ng-show="!admin && !enqueued" ng-click="addUser()">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;
      Join queue
    </div>
    <div class="red clickable center-content frame" ng-click="removeUser(name)" ng-show="!admin && enqueued">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;
      Leave queue
    </div>
    <div class="green clickable center-content frame" ng-show="!admin && enqueued" ng-click="updateUser()">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      Update information
    </div>
    <div class="red clickable center-content frame" ng-show="admin" ng-click="broadcast()">
      <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
      Broadcast
    </div>
    <div class="red clickable center-content frame" ng-show="admin" ng-click="purge()">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;
      Purge queue
    </div>
    <div class="red clickable center-content frame" ng-show="admin" ng-click="lock()">
      <span class="glyphicon glyphicon-lock"></span>&nbsp;
      Lock queue
    </div>
    <div class="buffer"></div>
    <!--<button class="btn btn-success col-md-12 buffer-min" ng-show="!admin" ng-click="addUser()">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;Join queue
    </button>
    <button class="btn btn-success col-md-12 buffer-min" ng-show="!newUser" ng-click="updateUser()">
      <span class="glyphicon glyphicon-save"></span>&nbsp;Update User
    </button>
    <button class="btn btn-success col-md-12 buffer-min" ng-click="removeUser(name)" ng-show="!admin">
      <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Remove user
    </button>
    <button class="btn btn-success col-md-12 buffer-min" ng-show="admin" ng-click="bottomUser()"  ng-disabled="edit" >
      <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Put to bottom of list
    </button>
    <button class="btn btn-success col-md-12 buffer-min" ng-show="!admin" ng-click="updateUser()"  ng-disabled="edit" >
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit user
    </button>
    <button class="btn btn-success col-md-12 buffer red" ng-show="admin" ng-click="purge()">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;Purge queue
    </button>-->
  </div>
  <div class="col-md-2 pin-center" ng-show="!loggedIn">
    <h3>You are currently<br> not logged in</h3>
    <div class="green clickable center-content frame" ng-show="admin" ng-click="purge()">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;
      Purge queue
    </div>
  </div>

  <div class="col-md-9 pull-right">
    <!-- Users with bookings -->
    <input class="spoilerbutton" type="button" value="Show booked users" onclick="this.value=this.value=='Show booked users' ? 'Hide booked users' : 'Show booked users';" class="spoilerbutton" ng-hide="bookedUsers.length == 0">
    <div class="spoiler" ng-hide="bookedUsers.length == 0">
      <table id="demo" class="table table-striped booked">
        <thead>
          <th>User</th>
          <th>Location</th>
          <th>Comment</th>
          <th>Time</th>
        </thead>
        <tbody>
          <tr id="user.name" ng-repeat="user in bookedUsers">
            <td>{{user.name}}</td>
            <td>{{user.place}}</td>
            <td>{{user.comment}}</td>
            <td>{{user.time}}</td>
          </tr>
        </tbody>
      </table>
    </div>  
    
    <!-- Users without bookings -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Location</th>
          <th>Comment</th>
          <th ng-show="admin">Admin options</th>
        </tr>
      </thead>
      <tbody>
        <tr id="user.name" ng-repeat="user in users track by $index" ng-class="user.gettingHelp ? 'pulse' : ''">
          <td>{{ $index + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.place }}</td>
          <td>{{ user.comment }}</td>
          <td ng-show="admin">
            <span title="remove user">
              <button class="btn red clickable" ng-click="removeUser(user.name)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
            <span title="send message">
              <button class="btn btn-success" ng-click="messageUser(user.name)">
                <span class="glyphicon glyphicon-envelope"></span>
              </button>
            </span>
            <span title="help">
              <button class="btn btn-success" ng-click="helpUser(user.name)">
                <span class="glyphicon glyphicon-check"></span>
              </button>
            </span>
            <span title="bad location">
              <button class="btn btn-success" ng-click="badLocation(user.name)">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>