<div class="container">

<div class="row">
  <section class="col-md-10 col-md-offset-1">
    <h1>Queues</h1>
    <div class="well white row" ng-repeat="queue in queues | orderBy:'locked':false" ng-class="accessLevel(queue.name) > 0 || !queue.locked ? 'clickable' : ''" ng-click="redirect(queue)" id="list{{queue.name}}Btn" ng-hide="accessLevel(queue.name) < 2 && queue.hibernating" clear:both>
      <div class="col-xs-6">
        <h4 ng-show="queue.locked && !queue.hibernating" class="text-red">
          <span class="glyphicon glyphicon-lock"></span>
          {{queue.name}}
        </h4>
        <h4 ng-show="!queue.locked && !queue.hibernating">
          <a href="">{{queue.name}}</a>
        </h4>
        <h4 ng-show="accessLevel(queue.name) > 1 && queue.hibernating" class="text-light-gray">
          <span class="glyphicon glyphicon-eye-close"></span>
          <a href="" style="color: rgb(185, 185, 185);">{{queue.name}}</a>
        </h4>
      </div>

      <div class="col-xs-6">
        <span class="pull-right">
          <h4 ng-class="{'text-light-gray' : queue.hibernating}">
            {{queue.length}}
            <i class="glyphicon glyphicon-user"></i>
          </h4>
        </span>
      </div>
    </div>
  </section>
</div>