.clickable:hover
{
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
.btn.red
{
	background-color: #f54f36;
}
.navbar.navbar-default
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}