.html, main-body
{
  margin: 0;
  padding: 0;
  border: 0;
}
.white.clickable:hover
{
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}
.red
{
  background-color: #f54f36;
}
.red.clickable:hover
{
  background-color: #D6432D;
  cursor: pointer;
}
.green
{
  background-color: #30E651;
}
.green.clickable:hover
{
  background-color: #2BCF49;
  cursor: pointer;
}
.black
{
  background-color: rgb(50,50,50);
}
.black.clickable:hover
{
  background-color: rgb(30,30,30);
  cursor: pointer;
}
.blue
{
  background-color: #387EFF;
}
.blue.clickable:hover
{
  background-color: #1C65EB;
  cursor: pointer;
}
.dark-grey
{
  background-color: rgb(155, 155, 155);
  border: .2em solid rgb(90, 90, 90);
}
.text-light-gray
{
  color: rgb(190, 190, 190);
}
.table-striped.booked > tbody > tr:nth-child(odd) > td{
   background-color: rgba(48, 240, 94, 0.65);
}
.table-striped.booked > tbody > tr:nth-child(even) > td{
   background-color: rgba(48, 255, 94, 0.6);
}
.text-white
{
  color: white;
}
.text-black
{
  color: black;
}
.text-red
{
  color: red;
}
.text-red.clickable:hover
{
  color: #BF0000;
  cursor: pointer;
}
.text-easteregg
{
  color: rgb(50, 50, 50);
}
.buffer
{
  margin-bottom: 5%;
}
.pin-center
{
  position: fixed;
  top: 21%;
}
.center-content
{
  text-align: center;
  padding: 5%;
}
.zero-padding
{
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}
.main-body
{
  position: absolute;
  top: 5em;
  width: 100%;
}
.equal-margin
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0;
  margin-left: 0;
}
.frame
{
  border: solid #FFFFFF 1px;
}
.pulse {
  -webkit-animation: pulse 3.8s linear infinite;
  -moz-animation: pulse 3.8s linear infinite;
  -ms-animation: pulse 3.8s linear infinite;
  animation: pulse 3.8s linear infinite;
}

@keyframes "pulse" {
 0% {
   color: rgba(0,0,0,0.4);
 }
 50% {
   color: rgba(0,0,0,1.0);
 }
 100% {
   color: rgba(0,0,0,0.4);
 }
}

@-moz-keyframes pulse {
 0% {
   color: rgba(0,0,0,0.4);
 }
 50% {
   color: rgba(0,0,0,1.0);
 }
 100% {
   color: rgba(0,0,0,0.4);
 }
}

@-webkit-keyframes "pulse" {
 0% {
   color: rgba(0,0,0,0.4);
 }
 50% {
   color: rgba(0,0,0,1.0);
 }
 100% {
   color: rgba(0,0,0,0.4);
 }
}

@-ms-keyframes "pulse" {
 0% {
   color: rgba(0,0,0,0.4);
 }
 50% {
   color: rgba(0,0,0,1.0);
 }
 100% {
   color: rgba(0,0,0,0.4);
 }
}
.spoiler
{
  overflow: hidden;
  background: #f5f5f5;
}
.spoiler > table
{
  -webkit-transition: all 0.4s ease;
  -moz-transition: margin 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: margin 0.4s ease;
}
.spoilerbutton[value="Show booked users"] + .spoiler > table
{
  margin-top: -100%;
}
.spoilerbutton[value="Hide booked users"] + .spoiler > table
{
  padding: 5px;
}
.left-divider
{
  border-left: 1px solid rgb(180, 180, 180);
}
.nav-block
{
  height: 4em;
  line-height: 4em;
  text-align: center;
  float: left;
}
button.expand
{
  width:100%;
}
button:focus
{
  outline: 0;
}
.navbar .container
{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  width: 100%;
}
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar > .container .navbar-brand-centered, 
.navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px;
}
.navbar
{
  border-bottom: 0;
}
.navbar-default .navbar-nav > li:not(.active) > a:not(.unresponsive):hover
{
    background-color: #0E0E0E;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus
{
  background-color: #3873FF;
  color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a:hover
{    
  background-color: #1C65EB;
}
.nav.navbar-nav.navbar-right > li > a.unresponsive:hover {
    color: #777777;
    cursor: default;
}
table.table-striped > tbody > tr.light-blue-background > td{
   background-color: #C5E7FF;
}
table.table-striped > tbody > tr.light-blue-background > td{
   background-color: #C5E7FF;
}