<div class="container">

  <div class="row">
<!-- Dropdown of queues -->
    <div class="col-md-12">
      <h4>Queue</h4>
      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle col-md-5" type="button" data-toggle="dropdown" id="statisticsSelectQueueDropDown">
            <div class="col-md-11 text-left" id="dropdown">Select Queue</div> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
        <li ng-repeat="queue in queues"><a href="" ng-click="selectQueue(queue.name)" id="statistics{{queue.name}}DropDownBtn">{{queue.name}}</a></li>
          </ul>
    </div>
    </div>
<!-- Dropdown ends here -->
<!-- Datepicker (from) -->
      <div class="col-md-6">
          <h4>From</h4>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dtFrom" is-open="openedFrom" max-date="today" close-text="Close" show-button-bar="false" id="statisticsFromDateInputField"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event, 'openedFrom')" id="statisticsFromDateCalendarBtn"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
<!-- Timepicker (from) -->
          <timepicker ng-model="fromTime" minute-step="mstep" show-meridian="false" id="statisticsFromTimeTimepicker"></timepicker>
      </div>
<!-- Datepicker (from) -->
      <div class="col-md-6">
          <h4>To</h4>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dtTo" is-open="openedTo" max-date="dt" close-text="Close" show-button-bar="false" id="statisticsToDateInputField"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event, 'openedTo')" id="statisticsToDateCalendarBtn"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
<!-- Timepicker (to) -->
          <timepicker ng-model="toTime" minute-step="mstep" show-meridian="false" id="statisticsToTimeTimepicker"></timepicker>
      </div>
      <button class="btn btn-primary pull-right" ng-click="getStatistics()" id="statisticsGetStatisticsBtn">Get statistics</button>
  </div>
  <hr>
<!-- Statistics goes here -->
  <div class="row" ng-show="statistics">
    <table class="table table-striped">
      <thead>
        <th>Description</th>
        <th>Statistics</th>
      </thead>
      <tbody>
        <tr ng-repeat="stat in statistics">
          <td>{{stat.description}}</td>
          <td>{{stat.data}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>