<div class="container">

  <script type="text/ng-template" id="enterMessage.html">
    <div class="modal-header">
      <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <textarea class="form-control" rows="3" ng-model="message" id="courseEnterMessageTextArea"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()" id="course{{buttonText}}Btn">{{buttonText}}</button>
    </div>
  </script>

  <script type="text/ng-template" id="receiveMessage.html">
    <div class="modal-header">
      <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <p>{{message}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <i class="text-light-gray">- {{sender}}</>
    </div>
  </script>

  <script type="text/ng-template" id="purgeQueue.html">
    <div class="modal-header">
      <h4>Purge queue</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <p>Are you sure you want to remove everyone in the queue?</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="doNotPurge()" id="courseDoNotPurgeBtn">No, leave them alone.</button>
      <button class="btn btn-danger" ng-click="purge()" id="courseDoPurgeBtn">Yes, kick them all out.</button>
    </div>
  </script>

  <script type="text/ng-template" id="readMessages.html">
    <div class="modal-header">
      <h4>Messages</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <ul>
          <li ng-repeat="message in messages">
            {{message}}
          </li>
        </ul>
      </div>
    </div>
  </script>

  <div class="row">
    <div class="col-md-offset-1 col-md-3">
      <h2 class="text-red" ng-show="locked"><span class="glyphicon glyphicon-lock"></span>{{course}}</h2>
      <h2 ng-show="!locked">{{course}}</h2>
    </div>
  </div>

  <div class="row">
    <!-- Buttons (not logged in) -->
    <div class="col-md-2" ng-show="!loggedIn">
      <h3>You are currently not logged in</h3>
      <button class="blue clickable center-content expand" style="border: 0; color: #FFFFFF;" ng-click="redirect('/login')" id="courseNotLoggedInLogInBtn">
        Log in
      </button>
    </div>
    <!-- Buttons (logged in) -->
    <div class="col-md-2 black" ng-show="loggedIn">
      <form class="form-horizontal text-white">
        <div class="form-group">
          <label class="control-label col-md-offset-1">Location:</label>
          <div class="text-black">
            <input class="col-md-10 col-md-offset-1" type="text" ng-model="location" placeholder="Red 01" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Red 01'" id="courseLocationInputField">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-offset-1">Comment:</label>
          <div class="text-black">
            <input class="col-md-10 col-md-offset-1" type="text" ng-model="comment" placeholder="Laboration 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Laboration 1'" id="courseCommentInputField">
          </div>
        </div>
      </form>
      <!-- The buttons -->
      <button class="green clickable frame center-content expand" ng-show="!enqueued && location" ng-click="addUser()" id="courseJoinQueueBtn">
        <span class="glyphicon glyphicon-plus"></span>
        Join queue
      </button>
      <button class="green clickable frame center-content expand" ng-show="!enqueued && !location" popover="In order to queue, you must enter your location"  popover-trigger="focus" popover-placement="bottom" id="coursePromptLocationJoinBtn">
        <span class="glyphicon glyphicon-plus"></span>
        Join queue
      </button>
      <button class="red clickable center-content frame expand" ng-show="enqueued" ng-click="removeUser(name)" id="courseUpdateInformationBtn">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;
        Leave queue
      </button>
      <button class="green clickable center-content frame expand" ng-show="enqueued && location" ng-click="updateUser()" id="courseUpdateInformationBtn">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
        Update information
      </button>
      <button class="green clickable frame center-content expand" ng-show="enqueued && !location" popover="You must enter your location again"  popover-trigger="focus" popover-placement="bottom" id="coursePromptLocationUpdateBtn">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
        Update information
      </button>
      <div class="buffer" ng-show="admin"></div>
      <button class="blue clickable center-content frame expand" ng-show="admin" ng-click="broadcast()" id="courseBroadcastBtn">
        <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
        Broadcast
      </button>
      <button class="blue clickable center-content frame expand" ng-show="admin" ng-click="broadcastTA()" id="courseBroadcastToTasBtn">
        <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
        Broadcast to TAs
      </button>
      <button class="red clickable center-content frame expand" ng-show="admin" ng-click="purge()" id="coursePurgeQueueBtn">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;
        Purge queue
      </button>
      <button class="red clickable center-content frame expand" ng-show="admin && !locked" ng-click="lock()" id="courseLockQueueBtn">
        <span class="glyphicon glyphicon-lock"></span>&nbsp;
        Lock queue
      </button>
      <button class="green clickable center-content frame expand" ng-show="admin && locked" ng-click="unlock()" id="courseUnlockQueueBtn">
        <span class="glyphicon glyphicon-lock"></span>&nbsp;
        Unlock queue
      </button>
      <button class="red clickable center-content frame expand" ng-show="admin && !hibernating" ng-click="hibernate()" id="courseHibernateQueueBtn">
        <span class="glyphicon glyphicon-off"></span>&nbsp;
        Hibernate queue
      </button>
      <button class="green clickable center-content frame expand" ng-show="admin && hibernating" ng-click="wakeup()" id="courseWakeupQueueBtn">
        <span class="glyphicon glyphicon-off"></span>&nbsp;
        Wakeup queue
      </button>
      <button class="red clickable center-content frame expand" ng-show="admin" ng-click="removeQueue()" id="courseRemoveQueueBtn">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;
        Remove queue
      </button>
      <div class="buffer"></div>
    </div>
    <!-- The queues -->
    <div class="col-md-offset-1 col-md-9">
      <!-- Users with bookings -->
      <input class="spoilerbutton" type="button" value="Show booked users" onclick="this.value=this.value=='Show booked users' ? 'Hide booked users' : 'Show booked users';" class="spoilerbutton" ng-hide="bookedUsers.length == 0"  id="courseShowBookedUsersBtn">
      <div class="col-md-12 spoiler" ng-hide="bookedUsers.length == 0">
        <table class="table table-striped booked">
          <thead>
            <th>User</th>
            <th>Location</th>
            <th>Comment</th>
            <th>Time</th>
          </thead>
          <tbody>
            <tr ng-repeat="user in bookedUsers">
              <td>{{user.name}}</td>
              <td>{{user.place}}</td>
              <td>{{user.comment}}</td>
              <td>{{user.time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Users without bookings -->
      <table class="col-md-12 table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>User</th>
            <th>Location</th>
            <th>Comment</th>
            <th>Time</th>
            <th ng-show="admin">Admin options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users track by $index" ng-class="user.gettingHelp ? 'pulse' : ''" ng-dblclick="changeVisibility(user.name)"  id="course{{user.name}}Btn">
            <td>{{ $index + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.place }}</td>
            <td>{{ user.comment }}</td>
            <td><span data-livestamp="{{user.startTime}}"></span></td>
            <td ng-show="admin">
              <div ng-show="user.optionsActivated">
                <span title="remove user">
                  <button class="btn red clickable" ng-click="removeUser(user.name)" id="courseRemoveUser{{user.name}}Btn">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </span>
                <span title="send message">
                  <button class="btn btn-success" ng-click="messageUser(user.name)" id="courseSendMessage{{user.name}}Btn">
                    <span class="glyphicon glyphicon-envelope"></span>
                  </button>
                </span>
                <span title="help">
                  <button class="btn btn-success" ng-click="helpUser(user.name)" id="courseHelp{{user.name}}Btn">
                    <span class="glyphicon glyphicon-check"></span>
                  </button>
                </span>
                <span title="bad location">
                  <button class="btn btn-success" ng-click="badLocation(user.name)" id="courseBadLocation{{user.name}}Btn">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </span>
                <span title="add comment">
                  <button class="btn btn-success" ng-click="flag(user.name)" id="courseAddComment{{user.name}}Btn">
                    <span class="glyphicon glyphicon-tag"></span>
                  </button>
                </span>
                <span ng-show="user.messages.length > 0" title="read comment">
                  <button class="btn btn-success" ng-click="readMessages(user.name)" id="courseReadComment{{user.name}}Btn">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
              <p ng-hide="user.optionsActivated">(Double-click for options)</p>
              <p ng-show="user.gettingHelp && admin">&nbsp;Currently helped by + {{user.helper}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>